# Dependências principais
streamlit==1.28.0  # Use 1.28.0 (mais estável)
yfinance==0.2.36
pandas==2.1.4  # Downgrade para versão mais leve
numpy==1.24.3  # NECESSÁRIO! Adicione esta linha
plotly==5.18.0

# BCB com versão fixa
python-bcb==0.3.3  

# Dependências extras para yfinance
lxml==4.9.3
requests==2.31.0
