# Mantenha apenas o essencial. Evite versões "latest".
yfinance==0.2.36
pandas==2.2.0  # Tente uma versão ligeiramente anterior se 2.2.0 for muito pesada
plotly==5.18.0
streamlit==1.29.0
python-bcb>=0.3.3
